        <article class="post card">

            <div class="title card-header">
                <h2><a href="/posts/{{id}}">{{title}}</a></h2>
            </div>

            <div class="meta">
                by {{user.username}} on {{format_date created_at}}
            </div>

        </article>