<form class="card" id="edit-post-form">

    <div class="title card-header">Edit Post</div>

    <div class="card-body">
        <div>
            <label for="post-title" class="form-label">Title</label>
            <input id="post-title" type="text" />
        </div>
        <div>
            <label for="post-body" class="form-label">Content</label>
            <input id="post-body" type="text" />
        </div>
        <div>
            <button class="btn" type="submit">Update Post</button>
        </div>
        <div>
            <button class="btn" type="click" id="delete-btn">Delete</button>
        </div>

    </div>

</form>

{{!-- connect to static public/js/edit.js file --}}
<script src="/js/edit.js"></script>