<form class="card">

    <div class="title card-header">Login</div>
    
    <div class="card-body">
        <div class="form-label">Username</div>
        <div class="form-label">Password</div>

    

        <div class="form-textarea">
            <textarea  class="form-input" name="comment-body"></textarea>
        </div>

        <div>
            <button class="btn" type="submit">Add comment</button>
        </div>

    </div>

</form>