<form class="card" id="login-form">

    <div class="title card-header">Login</div>

    <div class="card-body">
        <div>
            <label for="username-input-login" class="form-label">Username</label>
            <input type="text" id="username-input-login" />
        </div>
        <div>
            <label for="password-input-login" class="form-label">Password</label>
            <input type="text" id="password-input-login" />
        </div>
        <div>
            <button class="btn" type="submit">Login</button>
        </div>

        <p><a href="../signup">Sign up instead</p></a>

    </div>

</form>

{{!-- connect to static public/js/login.js file --}}
<script src="/js/login.js"></script>