<form class="card" id="signup-form">

    <div class="title card-header">Sign Up</div>

    <div class="card-body">
        <div>
            <label for="username-input-signup" class="form-label">Username</label>
            <input type="text" id="username-input-signup" />
        </div>
        <div>
            <label for="password-input-signup" class="form-label">Password</label>
            <input type="text" id="password-input-signup" />
        </div>
        <div>
            <button class="btn" type="submit">Sign Up</button>
        </div>

        <p><a href="../login">Login instead</p></a>

    </div>

</form>

{{!-- connect to static public/js/login.js file --}}
<script src="/js/signup.js"></script>