{{!-- POST DATA from post-info partial --}}
{{> post-info post}}

{{!-- LEAVE A COMMENT if signed in --}}
{{!-- the loggedIn variable comes from home-routes.js --}}
{{#if loggedIn}}
<form class="card">

    <div class="title card-header"></div>
    <div class="form-label">Leave a comment</div>

    <div class="card-body">

        <div class="form-textarea">
            <textarea  class="form-input" name="comment-body"></textarea>
        </div>

        <div>
            <button class="btn" type="submit">Add comment</button>
        </div>

    </div>

</form>
{{/if}}

{{!-- DISPLAY COMMENTS imported from comments partial --}}
{{> comments post.comments}}

{{!-- static script to add functionality to comment box --}}
{{!-- only rnder if logged in. will not break anything, but just unnecessary --}}
{{#if logged}}
<script src="/javascript/comment.js"></script>
{{/if}}